{% extends "base.twig" %}
{% block content_wrapper %}

{% if page.previousPost or page.nextPost %}
<nav>
{% if page.nextPost %}
&laquo; <a href="{{ site.url }}{{ page.nextPost.url }}">{{ page.nextPost.title }}</a>
{% endif %}
{% if page.nextPost and page.previousPost %}
|
{% endif %}
{% if page.previousPost %}
<a href="{{ site.url }}{{ page.previousPost.url }}">{{ page.previousPost.title }}</a> &raquo;
{% endif %}
</nav>
{% endif %}
<h1>{{ page.title }}</h1>
{% block content %}Nothing to see here.{% endblock %}

{% endblock %}
