{% extends "base.twig" %}
{% set lead_info %}{% block lead_info %}{% endblock %}{% endset %}
{% block content_wrapper %}
<article class="post {% if lead_info is empty %}noLeadInfo{% else %}hasLeadInfo{% endif %}">
<header class="post-article">
    <h1 class="post-title">{% if page.externalLink %}<a href="{{ page.externalLink }}">{% endif %}{{ page.title }}{%  if page.externalLink %} &rarr; </a>{% endif %}</h1>
</header>
<div class="entryContent">
{% if lead_info is not empty %}
<div class="leadInfo">
{{ lead_info }}
</div>
{% endif %}
{% block content %}Nothing to see here.{% endblock %}
{% if page.externalLink %}
<p>
    <a href="{{ page.externalLink }}">&rarr; External link</a>
</p>
{% endif %}

</div>
<footer class="article">
    <p class="meta author">
        <span class="byline author vcard">Posted by <a href="{{ site.url }}/author/beau" class="fn">Beau Simensen</a></span>
        <time datetime="{{ page.date|date('c') }}" pubdate>
            <span class='month'>{{ page.date|date('M') }}</span> <span class='day'>{{ page.date|date('jS') }}</span> <span class='year'>{{ page.date|date('Y') }}</span>
        </time>
    </p>
    <div class="sharing">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="srcmvn" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
        <div class="g-plusone" data-size="medium"></div>
        <!-- <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div> -->
    </div>
{% if page.previousPost or page.nextPost %}
    <nav class="article clearfix">
    {% if page.previousPost %}
    <a class="previous" href="{{ site.url }}{{ page.previousPost.url }}" title="{{ page.previousPost.title }}"><span class="title">{{ page.previousPost.title }}</span></a>
    {% endif %}
    {% if page.nextPost %}
    <a class="next" href="{{ site.url }}{{ page.nextPost.url }}" title="{{ page.previousPost.title }}"><span class="title">{{ page.nextPost.title }}</span></a>
    {% endif %}
    </nav>
{% endif %}
 </footer>
<script type="text/javascript">
(function() {
  var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
  script.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
})();
</script>
<script type="text/javascript">
(function(){
  var twitterWidgets = document.createElement('script');
  twitterWidgets.type = 'text/javascript';
  twitterWidgets.async = true;
  twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
  document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
})();
</script>
</article>
{% endblock %}
