{% extends "base.twig" %}
{% set lead_info %}{% block lead_info %}{% endblock %}{% endset %}
{% block content_wrapper %}
<article class="post {% if lead_info is empty %}noLeadInfo{% else %}hasLeadInfo{% endif %}">
<header class="post-article">
    <h1 class="post-title">{% if page.externalLink %}<a href="{{ page.externalLink }}">{% endif %}{{ page.title }}{%  if page.externalLink %} &rarr; </a>{% endif %}</h1>
</header>
<div class="entryContent">
{% if lead_info is not empty %}
<div class="leadInfo">
{{ lead_info }}
</div>
{% endif %}
{% block content %}Nothing to see here.{% endblock %}
</div>
<footer class="article">
    <p class="meta author">
        <span class="byline author vcard">Posted by <a href="{{ site.url }}/author/beau" class="fn">Beau Simensen</a></span>
        <time datetime="{{ page.date|date('c') }}" pubdate>
            <span class='month'>{{ page.date|date('M') }}</span> <span class='day'>{{ page.date|date('jS') }}</span> <span class='year'>{{ page.date|date('Y') }}</span>
        </time>
        <a href="{{site.url}}{{page.url}}">&infin;</a>
        {% if page.externalLink %}
        <a href="{{page.externalLink}}">&rarr;</a>
        {% endif %}
    </p>
    {% if page.tags %}
    <p class="meta tags">
    Tags:
    {% for tag in page.tags %}
    <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}

    {% if page.previous_post or page.next_post %}
        <nav class="article clearfix">
        {% if page.previous_post %}
        <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a>
        {% endif %}
        {% if page.next_post %}
        <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a>
        {% endif %}
        </nav>
    {% endif %}

    <div class="meta sharing">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="srcmvn" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
        <div class="g-plusone" data-size="medium"></div>
        <!-- <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div> -->
    </div>
    <div id="disqus_thread" style="margin-top: 2em"></div>
    <script type="text/javascript">
        var disqus_shortname = 'srcmvn';
        var disqus_identifier = '{{ page.url }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 </footer>
<script type="text/javascript">
(function() {
  var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
  script.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
})();
</script>
<script type="text/javascript">
(function(){
  var twitterWidgets = document.createElement('script');
  twitterWidgets.type = 'text/javascript';
  twitterWidgets.async = true;
  twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
  document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
})();
</script>
</article>
{% endblock %}
